/* Grab Custom CSS */
/* Primary Brand Color */
:root {
  --theme-primary: #00804A;
}

.hero-content {
  background-color: transparent !important;
  padding-top: 0 !important;
}

@media (max-width: 768px) {
  .v-hotelsList{
    margin-top: 0 !important;
  }
  .hero{
    min-height: fit-content !important;
  }
  .hero-content {
    background-color: transparent !important;
    padding-top: 0 !important;
    background-image: url('/grab/bg-wave.svg') !important;
    background-size: contain !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    padding-inline: 10px;

    .hero-content-width {
      gap: 10px;
      height: fit-content;
    }

    .grab-title {
      color: white;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      padding-top: 10px;
      padding-right: 14px;
    }

    .grabBedIcon {
      width: 130px;
      height: 130px;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }

    .fields.home-search {
      padding: 20px !important;
      border: none !important;
      box-shadow: 0px 8px 24px 0px #1C1C1C1A;
      .search-btn{
        background-color: #00B14F !important;
        .p-button-icon-left{
          color: white !important;
          font-weight: 600 !important;
        }
        .p-button-label{
          font-weight: 600 !important;
          font-style: semi-bold !important;
          font-size: 16px !important;
          line-height: 24px !important;
        }
      }


      .field {
        border-radius: 16px !important;
        height: 56px;
        padding-block: 0 !important;
        .autocomplete-trigger,.guests-input,.search_input{
          color: #A3A3A3 !important;
          font-weight: 400;
          font-size: 16px !important;
        }

        .grab-location-icon,
        .grab-calendar-icon,
        .grab-user-icon{
          color: #707070 !important;
         height: 20px;
         width: 20px;
        }
      }
      .DatePicker{
        height: auto;
        padding-block: 0;
      }
    }
  }
}
